<div class="container"> 
  <div class="row"> 
    <div class="col-xs-12">
     <h3>プロフィール登録</h3>
  <table>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <tr>
      <div class="field">
        <th><%= f.label :ユーザー名 %><br /></th>
        <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
      </div>
    </tr>

    <tr>
      <div class="field">
        <th><%= f.label :メールアドレス %><br /></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <th><%= f.label :性別 %> (男性or女性)<br /></th>
        <td><%= f.text_field :gender, autofocus: true, autocomplete: "gender" %></td>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <th><%= f.label :身長 %><br /></th>
        <td><%= f.text_field :height, autofocus: true, autocomplete: "height" %></td>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <th><%= f.label :好きなブランド %><br /></th>
        <td><%= f.text_field :favorite_brand, autofocus: true, autocomplete: "favorite_brand" %></td>
      </div>
    </tr>
 
    <tr> 
      <div class="field">
        <th><%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %><br />
        </th>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </div>
    </tr>

    <tr>
      <div class="field">
        <th><%= f.label :パスワード %> (確認用)<br /></th>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </div>
    </tr>
     <tr>
       <div class="actions">
         <th><%= f.submit "新規登録", class:"btn btn-success btn-lg" %></th>
       </div>
     </tr>
    <% end %>
    </table>
    <div class="loginmove">
      <h4>登録済みのユーザーはこちらから<%= link_to "ログイン",new_user_session_path %>してください</h4>
    </div>
  </div>
 </div>
</div>
