<head>
  <title>Fashionista</title>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navheadline">
      <span class="navbar-text"><%= link_to root_path do %><img src="/assets/いじめっ子アイコン.jpeg" style="height:50px;width:50px;margin: 0 auto"></span><% end %>
    </div>
    <h3><span class="navbar-text"><div class="navheadline">That  makes life shine</div></span></h3>
    <h2><span class="navbar-text"><div class="navheadline">Fashionista</div></span></h2>
    <div class="navline">
     <ul class="nav navbar-nav navbar-right">
       <% if user_signed_in? %>
         <li><%= link_to ' Styling', styilings_index_path(current_user), class: "glyphicon glyphicon-asterisk" %></li>
         <li><%= link_to ' Profile', user_path(current_user), class: "glyphicon glyphicon-remove-sign" %></li>
         <li><%= link_to ' Users', users_path, class: "glyphicon glyphicon-user" %></li>
         <li><%= link_to " Logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %> </li>
     <% else %>
        <li><%= link_to ' Styling', styilings_index_list_path, class: "glyphicon glyphicon-asterisk" %></li>
        <li><%= link_to ' Users', user_index_info_path, class: "glyphicon glyphicon-user" %></li>
        <li><%= link_to ' About', homes_about_path, class: "glyphicon glyphicon-asterisk" %></li>
        <li><%= link_to ' Sign up', new_user_registration_path, class: "glyphicon glyphicon-edit" %></li>
        <li><%= link_to ' Login', new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
     <% end %>
     </ul>
   </div>
  </nav>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://kit.fontawesome.com/f4a34d9917.js" crossorigin="anonymous"></script>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
<div class="indextot">
  <div class= "container">
	<div class="row">	
		<div class="col-xs-3">

			 <%= render 'layouts/styling_info' %> 

		</div>
	      <div class="col-xs-9">
	      	<h2>Women's</h2>
	      	  <% @users.each do |user| %>
               <div class="userbox">
                <table>
              	  <tr>
                    <td><%=link_to attachment_image_tag(user, :image, format: "jpeg", fallback:"no_image.jpg", size: "200x200"), user_path(user.id) %></td>
                  </tr>
                  <tr>
                    <td><%= link_to user.name, user_path(user.id) %>　　
                  </tr>
                  <tr>
                    <td><%= user.height %> | <%= user.gender %> | <%= user.favorite_brand %></td>
                  </tr>
                </table>
              </div>
              <% end %>
              <div class='p-eu__paginate'>
                <div align="right"><%= paginate @users %></div>
              </div>
        </div>
      </div>
    </div>
</div>