<div class="indextot">
  <div class="container"> 
    <div class="row">
    　<div class="col-xs-12"> 
　　　　　<h2>　　　　Edit Password</h2>
           <div align="center">
           <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
             <% if resource.errors.include?(:email) %>
               <p style="color: red;"><%= resource.errors.full_messages_for(:email).first %></p>
             <% end %>

              <table>
                <tr>
                  <div class="field">
                    <th><%= f.label :メールアドレス  %><br /></th>
                    <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50" %></td>
                  </div>
                </tr>
                
                <tr>
                  <div class="actions">
                    <th><%= f.submit "パスワード再設定メールを送信する", data: {"turbolinks" => false},class:"btn btn-success" %></th>
                 </div>
               </tr>
             </table>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>