<div class="indextot">
  <div class= "container">
	   <div class="row">
       <div class="col-xs-12">
        <div align="center">
          <h1>A　B　O　U　T</h1>
          <div class="border">
          </div>
        </div>
      </div>
      <div class="col-xs-12">
      </br>
      </br>
      </br>
      </br>
	      <div class="col-xs-6">
	        <div id="test-carousel" class="carousel slide img-size" data-ride="carousel" data-interval="2000">
		        <div class="item active img-size">
			      <%= image_tag asset_path("IMG_5175.jpeg"),size:"500x600"%>
	         </div>
          </div>
	      </div>

	      <div class="col-xs-6">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
            <div id="animation">
            <div align="center">
	      	    <h3>　かけがえのない、</h3>
              <h3>　1日を過ごせていますか？</h3>
            </div>
            </div>
          </br>
	      </div>
      </div>
      <div class="col-xs-12">
       </br>
       </br>
       </br>
        <div class="col-xs-6">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
              <div id="animation1">
              <div align="center">
                <h3>　生きていれば、</h3>
                <h3>　悩みがたくさんありますよね。</h3>
　　　　　     </div>
              </div>
            </br>
          </br>
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
          <div class="border">
          </div>
        <div class="col-xs-6">
          </br>
          </br>
          </br>
          </br>
            <div id="test-carousel" class="carousel slide img-size" data-ride="carousel" data-interval="2000">
              <div class="item">
                <%= image_tag asset_path("IMG_5177.jpeg"),size:"500x600"%>
              </div>
            </div>
        </div>
      </div>
       <div class="col-xs-12">
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      <div class="border">
          </div>
      </br>
      </br>
      </br>
        <div class="col-xs-6">
          <div id="test-carousel" class="carousel slide img-size" data-ride="carousel" data-interval="2000">
            <div class="item active img-size">
            <%= image_tag asset_path("IMG_5178.jpeg"),size:"500x600"%>
           </div>
          </div>
        </div>

        <div class="col-xs-6">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
          </br>
          </br>
          </br>
            <div id="animation2">
            <div align="center">
              <h3>　悩みを解決するのは、</h3>
              <h3>　難しいけど</h3>
            </div>
            </div>
          </br>
        </div>
      </div>
       <div class="col-xs-12">
       </br>
       </br>
       </br>
        <div class="col-xs-6">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
            </br>
            </br>
            </br>
              <div id="animation3">
              <div align="center">
                <h3>　気持ちは、お洒落で</h3>
                <h3>　変えることがきっとできますよね。</h3>
　　　　　     </div>
              </div>
            </br>
          </br>
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
          <div class="border">
          </div>
        <div class="col-xs-6">
          </br>
          </br>
          </br>
          </br>
            <div id="test-carousel" class="carousel slide img-size" data-ride="carousel" data-interval="2000">
              <div class="item">
                <%= image_tag asset_path("IMG_5174.jpeg"),size:"500x600"%>
              </div>
            </div>
            </br>
            </br>
        </div>
      </div>
      <div class="col-xs-12">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
         <div class="border">
          </div>
          <div id="animation4">
            <div align="center"><h1>ファッションは、私の人生を輝かせる</h1></div>
          </div>
      </div>
        <div class="col-xs-12">
          </br>
           <div class="border">
           </div>
        <div class="col-xs-9">
          </br>
          </br>
          </br>
          </br>
          <div id="animation5">
          　 <h2>サイト概要</h2>
　　　　　　　<h3>このサイトは会員制のサイトです。</h3>
             <h3>会員にならなくても、スタイリングやユーザーページは見えますが、</h3>
             <h3>全ての機能を使うことはできません。</h3>
             <h3>検索機能、投稿機能、コメント機能、フォロー＆フォロワーなど、、、</h3>
             <h3>ランキング形式でスタイリングを表示しているので</h3>
             <h3>ぜひ会員登録して、たくさんの投稿をしてみてください。</h3>
          </br>
          </br>
          </br>
          </br>
          </div>
        </div>
        <div class="col-xs-3">
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          <div id="test-carousel" class="carousel slide img-size" data-ride="carousel" data-interval="2000">
            <div class="item">
              <%= image_tag asset_path("IMG_5169.jpeg"),size:"250x300"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  