<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="indextot">
      <div class= "container">
	    <div class="row">
	     <div class="col-xs-3">
	     	 <%= render 'layouts/styling' %>
	     </div>
         <div class="col-xs-9">
         <tr>
           <div id="slider">
              <div id="skippr-slider">
                <div style="background-image: url(/assets/3_158538-4730.jpeg)"></div>
                <div style="background-image: url(/assets/_158538-4893.jpg)"></div>
                <div style="background-image: url(/assets/_158538-1337.jpg)"></div>
                <div style="background-image: url(/assets/_158538-941.jpg)"></div>
              </div>
	        </div>
	      </tr>
             <h2>Recommendation　Styling</h2>
	      	 <%  @styilings.each do |styiling| %>
               <div class="userbox">
                 <table>
              	   <tr>
                      <td><%= link_to attachment_image_tag(styiling, :styling_image, format: "jpeg", size:"250x330"),styiling_path(styiling.id) %>
                      <div align="left"><%= styiling.created_at.strftime('%Y/%m/%d')%>　
                      </td>
                    </tr>
                    <tr>
                    <td><%= link_to attachment_image_tag(styiling.user, :image, format: "jpeg", size: "30x30"),user_path(  styiling.user.id) %>
                        <%= link_to styiling.user.name, user_path(styiling.user.id) %> | <%= styiling.user.height %></td>
                  </tr>
                </table>
              </div>
           <% end %>
             <div class='p-eu__paginate'>
               <div align="right"><%= paginate @styilings %></div>
             </div>
            </div>
          </div>
       </div>
    </div>
    </span>
    <script src="./js/skippr.js" type="text/javascript"></script>
        <script>
      $(document).ready(function(){
        $("#skippr-slider").skippr({
         transition: 'slide',
         autoPlay: true,
         arrows : false,
         speed : 1000,
         autoPlayDuration : 5000,
         transition: "fade",
      });
    });
</script>
<div class="start">
    <h1><p>Fashionista</p></h1>
  </div>
  </body>
</html>