<div class="indextot">
  <div class= "container">
	  <div class="row">	
		  <div class="col-xs-3">

			 <%= render 'layouts/styling_info' %> 

		  </div>
	      <div class="col-xs-9">
	      	<h2> Styling All</h2>
	      	  <%  @styilings.each do |styiling| %>
               <div class="userbox">
                 <table>
              	   <tr>
                     <td><%= link_to attachment_image_tag(styiling, :styling_image, format: "jpeg", size: "250x330"),styiling_info_path(styiling.id) %>
                      <div align="left"><%= styiling.created_at.strftime('%Y/%m/%d')%></div>
                      </td>
                   </tr>
                   <tr>
                     <td><%= link_to attachment_image_tag(styiling.user, :image, format: "jpeg",fallback:"no_image.jpg", size: "30x30"),show_info_path(styiling.user.id) %>
                        <%= link_to styiling.user.name, show_info_path(styiling.user.id) %> | <%= styiling.user.height %></td>
                   </tr>
                </table>
              </div>
           <% end %>
          <div align="right"><%= paginate @styilings %></div>      
       </div>
     </div>
  </div>
</div>