<div class="indextot">
  <div class= "container">
	  <div class="row">	
		  <div class="col-xs-3">

			 <%= render 'layouts/styling' %> 

		  </div>
	      <div class="col-xs-9">
          <div align="right"><%= render 'layouts/search' %></div>
	      	  <h2>Women's Ranking</h2>
	      	    <% @gender_ranks.each.with_index(1) do |gender, i| %>
                <div class="userbox">
                  <table>
              	    <tr>
                      <td><%= link_to attachment_image_tag(gender, :styling_image, format: "jpeg", size: "250x330"), styiling_path(gender.id), data: {"turbolinks" => false} %>
                         <div align="left"><%= gender.created_at.strftime('%Y/%m/%d')%>
                      <tr>
                  	    <td><i class="fas fa-chess-queen"></i> 第<%= i %>位</td>
                      </tr>
                    </tr>
                    <tr>
                      <td><%= link_to attachment_image_tag(gender.user, :image, format: "jpeg",fallback:"no_image.jpg", size: "30x30"),user_path(  gender.user.id), data: {"turbolinks" => false} %>
                        <%= link_to gender.user.name, user_path(gender.user.id), data: {"turbolinks" => false} %> | <%= gender.user.height %>cm</td>
                    </tr>
                  </table>
                </div>
             <% end %>
          </div>
      </div>
   </div>
</div>