<div class="indextot">
  <div class= "container">
  	<div class="row">	
		  <div class="col-xs-3">

			 <%= render 'layouts/styling_info' %> 

		  </div>
	      <div class="col-xs-9">
	      	<h2>Women's Ranking</h2>
	      	  <% @gender_ranks.each.with_index(1) do |gender, i| %>
              <div class="userbox">
                <table>
              	  <tr>
                    <td><%= link_to attachment_image_tag(gender, :styling_image, format: "jpeg", size: "250x330"), styiling_info_path(gender.id) %>
                     <tr>
                  	   <td><i class="fas fa-chess-queen"></i> 第<%= i %>位</td>
                     </tr>
                  </tr>
                  <tr>
                    <td><%= link_to attachment_image_tag(gender.user, :image, format: "jpeg",fallback:"no_image.jpg", size: "30x30"),show_info_path(gender.user.id) %>
                        <%= link_to gender.user.name, show_info_path(gender.user.id) %> | <%= gender.user.height %></td>
                  </tr>
                </table>
              </div>
            <% end %>
         </div>
      </div>
   </div>
</div>