  <div class="indextot">
    <div class="container"> 
      <div class="row">
        <p style="color: red;"><%= flash[:dastroy] %></p>
　    　<h2>　　　　User Log in</h2>
　　　　　 <div align="center">
　　　　   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
           <h4><font color="red"><%= flash[:error] %></font></h4>
            <table>
              <tr>
  　　          <div class="field">
                  <th><%= f.label :メールアドレス%><br /></th>
                  <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50" %></td>
                </div>
              </tr>
      
              <tr>
                <div class="field">
                  <th><%= f.label :パスワード%><br /></th>
                  <td><%= f.password_field :password, autocomplete: "current-password",size: "50"  %>
                  <p align="center"><%=link_to "　　　　　　　　　　　=> パスワードを忘れた方はこちら", new_user_password_path %></P></td>
                </div>
               </tr>

               <tr>
                 <div class="actions">
                   <th><%= f.submit "ログイン", data: {"turbolinks" => false}, class:"btn btn-success" %></th>
                 </div>
              </tr>
            </table>
          <% end %>
         </div>
      </div>
    </div>
  </div>
</div>
