 <title>Fashionista</title>
   <nav class="navbar navbar-fixed-top navbar-inverse">
     <div class="navheadline">
       <% if user_signed_in? %>
         <span class="navbar-text"><%= link_to homes_top_info_path, data: {"turbolinks" => false} do %><%= image_tag asset_path("いじめっ子アイコン.jpeg") ,size:"50x50"%></span><% end %>
         <% else %>
     </div>
     <div class="navheadline">
        <span class="navbar-text"><%= link_to root_path, data: {"turbolinks" => false} do %><%= image_tag asset_path("いじめっ子アイコン.jpeg"),size:"50x50"%></span><% end %>
        <% end %>
     </div>
     <% if user_signed_in? %>
       <h4><span class="navbar-text"><div class="navheadline"><%= current_user.name %>　様</div></span></h4>
     <% end %>
     <h3><span class="navbar-text"><div class="navheadline">That  makes life shine</div></span></h3>
     <h1><span class="navbar-text"><div class="navheadline">Fashionista</div></span></h1>
       <div class="navline">
         <ul class="nav navbar-nav navbar-right">
           <% if user_signed_in? %>
           <div id="sp-menu">
             </br>
             </br>
             </br>
             </br>
             </br>
             </br>
             </br>
             </br>
             </br>
             </br>
             <li><h4><a href="#"><%= link_to ' Styling', styilings_index_path(current_user), data: {"turbolinks" => false}, class: "glyphicon glyphicon-asterisk" %></a></h4></li>
             </br>
             <li><h4><a href="#"><%= link_to ' Profile', user_path(current_user), data: {"turbolinks" => false}, class: "glyphicon glyphicon-remove-sign" %></a></h4></li>
             </br>
             <li><h4><a href="#"><%= link_to ' Users', users_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-user" %></a></h4></li>
             </br>
             <li><h4><a href="#"><%= link_to " Logout", destroy_user_session_path, data: {"turbolinks" => false}, method: :delete, class: "glyphicon glyphicon-log-out" %></a></h4></li>
             </br>
            </div>

            <div id="hm-icon">
              <a class="menu-trigger" href="#">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>

           <% else %>
           <div id="sp-menu">
             </br>
             </br>
             </br>
             </br>
             </br>
             </br>
             </br>
             </br>
             </br>
             <li>
               <h4><a href="#"><%= link_to ' Styling', styilings_index_list_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-asterisk" %></a></h4>
             </li>
             </br>
             <li>
               <h4><a href="#"><%= link_to ' Users', user_index_info_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-user" %></a></h4>
             </li>
             </br>
             <li>
               <h4><a href="#"><%= link_to ' About', homes_about_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-scale" %></a></h4>
             </li>
             </br>
             <li>
               <h4><a href="#">　<%= link_to ' Signup', new_user_registration_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-edit" %></a></h4>
             </li>
             </br>
             <li>
                <h4><a href="#"><%= link_to ' Login', new_user_session_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-log-in" %></a></h4>
             </li>
             </br>
           </div>

           <div id="hm-icon">
              <a class="menu-trigger" href="#">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
           <% end %>
          </ul>
        </div>
    </nav>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://kit.fontawesome.com/f4a34d9917.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
