            <table class="table">
			   <h4><i class="fas fa-user-astronaut"></i> ユーザー</h4>
			  <tr>
			  	<div class="color_info"><th><%= link_to "Women's", user_women_index_path %></th></div>
			  </tr>
			  <tr>
			  	<th><%= link_to "Men's", user_men_index_path %></th>
			  </tr>
			  <tr>
			  	<th></th>
			  </tr>
			</table>
            <table class="table">
            	<h4><i class="fas fa-cannabis"></i> スタイリング</h4>
			  <tr>
			  	<th><%= link_to "Women's", styilings_women_index_path %></th>
			  </tr>
			  <tr>
			  	<th><%= link_to "Men's", styilings_men_index_path %></th>
			  </tr>
			   <tr>
			  	<th></th>
			  </tr>
			 </table>
			<table class="table">
			  	<h4><i class="fas fa-chess-rook"></i> スタイリングランキング</h4>
			  <tr>
			  	<th><%= link_to "All Ranking", styilings_all_ranking_path %></th>
			  </tr>
			  <tr>
			  	<th><%= link_to "Women's", styilings_women_ranking_path %></th>
			  </tr>
			  <tr>
			  	<th><%= link_to "Men's", styilings_men_ranking_path %></th>
			  </tr>
			  <tr>
			  	<th></th>
			  </tr>
			</table>
			<table class="table">
				<h4><i class="fas fa-bomb"></i> ウィメンズ注目ブランド</h4>
			　<tr>
				<th>EMODA</th>
			 </tr>
			 <tr>
			 	<th>PAGEBOY</th>
			 </tr>
			 <tr>
			 	<th>nikoand</th>
			 </tr>
			 <tr>
			 	<th>DHOLIC</th>
			 </tr>
			 <tr>
			 	<th>M×M×M</th>
			 </tr>
			 <tr>
			  	<th></th>
			 </tr>
			</table>
			<table class="table">
				<h4><i class="fas fa-burn"></i> メンズ注目ブランド</h4>
			　<tr>
				<th>HARE</th>
			 </tr>
			 <tr>
			 	<th>act'm</th>
			 </tr>
			 <tr>
			 	<th>KUUUPY</th>
			 </tr>
			 <tr>
			 	<th>ユニクロ</th>
			 </tr>
			 <tr>
			 	<th>URBAN RESEARCH</th>
			 </tr>
			 <tr>
			  	<th></th>
			 </tr>
			</table>
			<img src="/assets/IMG_5167.jpeg" style="height:200px;width:200px;margin: 0 auto">
		      </br>
		      </br>
		      </br>
		    <img src="/assets/image0.jpeg" style="height:200px;width:200px;margin: 0 auto">
