            <table class="table">
			   <h4><i class="fas fa-user-astronaut"></i> ユーザー</h4>
			  <tr>
			  	<div class="color_info"><th><%= link_to "Women's", user_women_index_path, data: {"turbolinks" => false} %></th></div>
			  </tr>
			  <tr>
			  	<th><%= link_to "Men's", user_men_index_path , data: {"turbolinks" => false}%></th>
			  </tr>
			  <tr>
			  	<th></th>
			  </tr>
			</table>
            <table class="table">
            	<h4><i class="fas fa-cannabis"></i> スタイリング</h4>
			  <tr>
			  	<th><%= link_to "Women's", styilings_women_index_path, data: {"turbolinks" => false} %></th>
			  </tr>
			  <tr>
			  	<th><%= link_to "Men's", styilings_men_index_path, data: {"turbolinks" => false} %></th>
			  </tr>
			   <tr>
			  	<th></th>
			  </tr>
			 </table>
			<table class="table">
			  	<h4><i class="fas fa-chess-rook"></i> スタイリングランキング</h4>
			  <tr>
			  	<th><%= link_to "All Ranking", styilings_all_ranking_path, data: {"turbolinks" => false} %></th>
			  </tr>
			  <tr>
			  	<th><%= link_to "Women's", styilings_women_ranking_path, data: {"turbolinks" => false} %></th>
			  </tr>
			  <tr>
			  	<th><%= link_to "Men's", styilings_men_ranking_path, data: {"turbolinks" => false} %></th>
			  </tr>
			  <tr>
			  	<th></th>
			  </tr>
			</table>
			<table class="table">
				<h4><i class="fas fa-bomb"></i> ウィメンズ注目ブランド</h4>
			　<tr>
				<th><%= link_to "DHOLIC", "https://www.dholic.co.jp/" %></th>
			 </tr>
			 <tr>
			 	<th><%= link_to "PAGEBOY", "https://www.dot-st.com/pageboy/" %></th>
			 </tr>
			 <tr>
			 	<th><%= link_to "JILL STUART", "https://www.jillstuart.jp/" %></th>
			 </tr>
			 <tr>
			 	<th><%= link_to "CECIL McBEE", "http://cecilmcbee.jp/" %></th>
			 </tr>
			 <tr>
			 	<th><%= link_to "LOWRYS FARM", "https://www.dot-st.com/lowrysfarm/" %></th>
			 </tr>
			 <tr>
			  	<th></th>
			 </tr>
			</table>
			<table class="table">
				<h4><i class="fas fa-burn"></i> メンズ注目ブランド</h4>
			　<tr>
				<th><%= link_to "HARE", "https://www.dot-st.com/hare/" %></th>
			 </tr>
			 <tr>
			 	<th><%= link_to "FREAK'S STORE", "https://www.freaksstore.com/" %></th>
			 </tr>
			 <tr>
			 	<th><%= link_to "UNITED ARROWS", "https://www.united-arrows.co.jp/index.html" %></th>
			 </tr>
			 <tr>
			 	<th><%= link_to "URBAN RESEARCH", "http://www.urban-research.co.jp/" %></th>
			 </tr>
			 <tr>
			 	<th><%= link_to "JOURNAL STANDARD", "http://journal-standard.jp/" %></th>
			 </tr>
			 <tr>
			  	<th></th>
			 </tr>
			</table>
			   <%= image_tag asset_path("IMG_5167.jpeg"),size:"250x250"%>
		      </br>
		      </br>
		      </br>
		        <%= image_tag asset_path("image0.jpeg"),size:"250x250"%>
